.git
.github
.idea
.pytest_cache
.mypy_cache
.ruff_cache
.venv
__pycache__
*.py[cod]
*.egg-info
build
dist
coverage.json
.coverage
htmlcov
docs
tests
.env
.env.*
*.db
*.sqlite
*.sqlite3
*.log
*.pem
*.key
